#login-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        width: 25%;
        display: flex;
        flex-direction: column;
        grid-row-gap: 1rem;

        img {
            align-self: center;
            max-width: 16rem;
        }
    }

    @media screen and(max-width: 1400px) {
        .form {
            width: 40%;
        }
    }

    @media screen and(max-width: 840px) {
        .form {
            width: 45%;
        }
    }

    @media screen and(max-width: 600px) {
        .form {
            width: 95%;
        }
    }
}
