#pets-page {
    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        .field-component:last-of-type,
        button {
            grid-column: span 2;
        }

        .image-preview-wrapper {
            grid-column: span 2;
            display: flex;
            flex-direction: row;
            grid-gap: 1rem;
            align-items: flex-start;
            flex-wrap: wrap;

            .image-preview {
                width: 300px;
            }
        }
    }
}
