@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import './variables.scss';

@import './pages/login.scss';
@import './pages/pets.scss';

@import './components/layout.scss';
@import './components/form.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

input,
select {
    height: 48px;
    outline: none;
    border: 2px solid $grey;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 1px $primary;
    padding: 0 1rem;
    font-size: 1.15rem;

    &:hover,
    &:focus {
        box-shadow: 0px 0px 1px 2px $primary;
    }
}

button {
    height: 48px;
    outline: none;
    cursor: pointer;
    background-color: $primary;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 0 1rem;
    font-size: 1.15rem;

    transition: background-color 0.4s ease;

    &:hover,
    &:focus {
        box-shadow: none;
        background-color: darken($color: $primary, $amount: 2.5%);
    }
}

.box {
    background-color: $background;
    padding: $base-padding;
    border-radius: $base-radius;
    // border: 2px solid $grey;
    box-shadow: 2px 2px 5px $grey-opaque;
}
