$primary: #0096c7;
$primary-dark: darken($primary, 25%);
$primary-darker: darken($primary, 50%);
$text: #003d5b;
$error: #dc143c;
$grey: #777;
$grey-opaque: #77777780;
$background: #fafafa;

$base-radius: 0.75rem;
$base-padding: 1rem;
